@using Library.Domain.Entity
@model List<Author>


<h2>Author</h2>

<table>
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>BirthDate</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.BirtDate</td>
                <td>@item.Country</td>
                <td>
                    <a asp-controller="Author" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td>
                    <a asp-controller="Author" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-controller="Author" asp-action="Create">Create New</a>
</p>
