@using Library.Domain.ViewModel.User
@model UserDetailViewModel

<div class="container">
    <h1 class="my-4">User Details</h1>
      <div class="col-md-4">
        <p>@Model.FirstName</p>
        <p>@Model.LastName</p>
        <p>@Model.Id</p>
        <p>@Model.UserName</p>
        <p>@Model.Password</p>
      </div>
 </div>
