@using Library.Domain.ViewModel.User
@model UserDetailViewModel

<div class="container">
    <h1 class="my-4">User Details</h1>
      <div class="col-md-4">
        <label><b>User first name</b></label><p>@Model.FirstName</p>
        <label><b>User last name</b></label><p>@Model.LastName</p>
        <label><b>User id</b></label><p>@Model.Id</p>
        <label><b>User account name</b></label><p>@Model.UserName</p>
        <label><b>User hashed password</b></label><p>@Model.Password</p>
      </div>
 </div>
