@using Library.Domain.ViewModel.User
@model List<UserViewModel>

<h1>Users Information</h1>

@*<section class="flush-with-above">
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-hover align-items-center table-borderless" id="pagination_example">
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr class="bg-white">
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body mb-2">
                                            <span class="h6 mb-0">@user.UserName</span>
                                        </div>
                                        <div class="media-body mb-2">
                                            <span class="h6 mb-0">@user.Id</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    <a class="btn btn-outline-primary" asp-controller="User" asp-action="Detail" asp-route-id="@user.Id">
                                        View Profile
                                    </a>
                                    <a class="btn btn-outline-primary offset-4" asp-controller="User" asp-action="UserDelete" asp-route-id="@user.Id">
                                        Delete
                                    </a>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>*@

<div>
    <table class="table caption-top" id="pagination_example">
        <caption>List of users</caption>
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">UserName</th>
                <th scope="col">View profile</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var user in Model)
            {
                <tr>
                    <th scope="row">@user.Id</th>
                    <td>@user.UserName</td>
                    <td>
                        <a class="btn btn-outline-primary" asp-controller="User" asp-action="Detail" asp-route-id="@user.Id">
                            Click
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-outline-primary offset-4" asp-controller="User" asp-action="UserDelete" asp-route-id="@user.Id">
                            Click
                        </a>
                    </td>
                </tr>
            }
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>twitter</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>twitter</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>twitter</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>twitter</td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>