@model Library.Domain.ViewModel.MenuView.MenuViewModel


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Library</title>
    <link rel="stylesheet" href="~/css/BootswatchTheme.css" />
    <link rel="stylesheet" href="~/Library.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="wrapper">
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Dynamic Menu</h3>
                </div>

                <ul class="list-unstyled components">
                    @foreach(var menu in Model.MenuList)
                    {
                        <li class="active">
                            <a href="#@menu.MenuName" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">@menu.MenuName</a>
                            
                            <ul class="collapse list-unstyled" id="@menu.MenuName">
                                @if(menu.SubMenuItems.Count > 0)
                                {
                                    @foreach(var item in menu.SubMenuItems)
                                    {
                                        <li>
                                            <a href="@item.SubMenuName">
                                                @item.SubMenuName
                                            </a>
                                        </li>
                                    };
                                };
                            </ul>
                        </li>
                    };
                </ul>
            </nav>
        </div>
    </header>
    <div id="content">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <i class="glyphicon glyphicon-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            Page
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <footer>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $('#sidebarCollapse').on('click', function (){
            $('#sidebar').toggleClass('active');
        });
    });
</script>
</html>